ptvsd
wheel
websockets
jinja2
sanic
evdev
luma.oled
# alternative to pyaudio
sounddevice
# disabled for odroid:
# RPi.GPIO
# picamera
# soundfile

# installed w/ apt:
#pyaudio
#numpy

# motor kit - essential!
adafruit-circuitpython-motorkit

