# only install if needed 
#pygame

ptvsd
wheel
sanic
jinja2
websockets
#picamera
evdev
RPi.GPIO
luma.oled
# alternative to pyaudio
sounddevice
soundfile

# installed w/ apt:
#pyaudio
#numpy
