ptvsd
wheel
websockets
jinja2
flask
flask-socketio
gevent-websocket
evdev
# alternative to pyaudio
sounddevice
# disabled for odroid:
# luma.oled
# RPi.GPIO
# picamera
# soundfile

# installed w/ apt:
# gevent
# pyaudio
# numpy

# for the OLED display
adafruit-circuitpython-rgb-display

# motor kit - essential!
adafruit-circuitpython-motorkit
