img {
    max-width: 100%;
    height: auto;
}
body {
  background: url(/static/wall-e.jpg) no-repeat;
  background-size: 100%;
}

#main {
    width: 800px;
    height: 600px;
    background-color: red;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}