<!DOCTYPE html>
<html>

<head>
    <title>Groovy Robot</title>

    <link rel="stylesheet" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">

    <script src="/static/node_modules/nipplejs/dist/nipplejs.js"></script>
    <script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/node_modules/socket.io-client/dist/socket.io.js"></script>
    <script src="/static/node_modules/@tensorflow/tfjs/dist/tf.min.js"></script>
    <script src="/static/client.js"></script>


    <script type="text/javascript">
        var client = new RobotClient();
        client.connect();
    </script>

<body>
    <div id="main">
        <div id="camera">
            <center>
                <img src="/video"><br>
            </center>
        </div>
        <button type="button" class="btn btn-primary" id="cam+">Camera + (e)</button>
        <button type="button" class="btn btn-primary" id="cam-">Camera - (q)</button>
        <br/>
        <button type="button" class="btn btn-primary" id="spd+">Speed + (x)</button>
        <button type="button" class="btn btn-primary" id="spd-">Speed - (z)</button>
    </div>
    <script type="text/javascript">
        client.initUI();
    </script>
</body>

</html>