<!DOCTYPE html>
<html>

<head>
    <title>Groovy Robot</title>

    <link rel="stylesheet" href="http://{{host}}/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://{{host}}/static/style.css">

    <script src="http://{{host}}/static/jquery/jquery-3.3.1.min.js"></script>
    <script src="http://{{host}}/static/popper/popper.min.js"></script>
    <script src="http://{{host}}/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="http://{{host}}/static/nipplejs/nipplejs.min.js"></script>

    <script src="http://{{host}}/static/client.js"></script>


    <script type="text/javascript">
        connect('{{host}}');
    </script>

<body>
    <div id="main">
        <div id="camera">
            <center>
                <img id="cam" src="" /><br>
            </center>
        </div>
        <button type="button" class="btn btn-primary" id="cam+">Camera +</button>
        <button type="button" class="btn btn-primary" id="cam-">Camera -</button>
    </div>
    <script type="text/javascript">
        init_ui();
    </script>
</body>

</html>