<!DOCTYPE html>
<html>
<head>
    <title>Groovy Robot</title>

    <!-- Bootstrap! -->
    <link rel="stylesheet" href="http://{{host}}/static/bootstrap/css/bootstrap.min.css">
    <script src="http://{{host}}/static/bootstrap/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="http://{{host}}/static/style.css"> 
    <script src="http://{{host}}/static/client.js"></script>
    
    <script type="text/javascript">
        connect('{{host}}');
    </script>
<body>
    <div id="main">
        <center>
            <img id="cam" src=""/><br>
        </center>
    </div>
</body>
</html>
